:root {
    --orange: #ff5722;
    --white: #eeeeee;
    --blue: #00adb5;
    --dark-gray: #303841;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Abril Fatface';
    src: url('/fonts/AbrilFatface-Regular.ttf');
}

@media (prefers-color-scheme: white) {
    html {
        color-scheme: white;
    }
    body {
        color: black;
        background: white;
    }
}
