.container {
    height: calc(100vh - 80px);
    background-color: var(--white);
    color: var(--dark-gray);
    padding: 20px 30px;
}

.title {
    color: var(--blue);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productBtn {
    border: none;
    padding: 10px;
    width: 130px;
    cursor: pointer;
    color: white;
    background-color: var(--orange);
    font-weight: bold;
    border-radius: 5px;
}

.button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.button {
    background-color: crimson;
    color: var(--white);
}
